body{
    width: 80%;
    margin: 0 auto;
}

#Header{
    display: flex;
    object-position: center;
}

#Navbar{
    background-color: rgba(167, 225, 250, 1);
    height: 40px;
    color:black;
    font-weight: 600;
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 10px;
    z-index: 1;
}

#Body{
    background-color: rgba(233, 233, 233, 0.5);
    height: 2500px;
    place-items: center;
}

#Center{
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

#Body h1{
    line-height: 1.5;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.Heading{
    width: 100%;
    text-align: center;
}

.Products{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.Product{
    position: relative;
    background-color: white;
    width: 300px;
    box-shadow: 0 5px 5px #A7E1FA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 50px;
    border-radius: 3%;
}

.Image{
    display: grid;
    place-items: center;
}

.Name-Price{
    padding-top: 5%;
    display: flex;
    flex-direction: column-reverse;
}

.Name-Price h3{
    text-align: left;
}

.Name-Price span{
    color: #F13737;
}

.Product p{
    line-height: 1.2;
}

.Buy{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.Buy button{
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #F4C857;
}

.Buy button:hover{
    background-color: rgba(244, 200, 87, 0.7);
}

.nav-button{
    color: black;
    text-decoration: none;
}

.nav-button:hover{
    color: rgb(243, 103, 238);
}

#Footer{
    margin-top: 1%;
    background-color: transparent;
    height: 220px;
}

#Footer div h3{
    margin-bottom: 20px;
    color: #F13737;
}

.Inner-Footer{
    margin-top: 1%;
    background-color: #A7E1FA;
    height: 200px;
    padding: 0px 15%;
    display: flex;
}

.Inner-Footer div{
    text-align: center;
}

.Quick-Links a{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.Helper-Links{
    flex-grow: 2;
}

.Helper-Links a{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.Links:hover{
    color: #F367EE;
}

.Social-Links{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.Social-Media-Icons{
    margin-top: 30px;
}

.Social-Media-Icons img{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

.Outer-Footer{
    background-color: #E9E9E9;
    height: 20px;
    font-size: large;
    text-align: center;
    color: #F13737;
}

@media screen and (max-width: 768px) {
    #Navbar{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    #Body{
        height: auto;
        width: auto;
    }
    .Inner-Footer{
        height: auto;
    }
    .Outer-Footer{
        height: auto;
    }
}